<form action="/form/add-article" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
    </div><div>
        <label for="slug">Slug:</label>
        <input type="text" id="slug" name="slug" required>
    </div>
    <div>
        <label for="published">Published Date:</label>
        <input type="date" id="published" name="published" required>
    </div>
    <div>
        <label for="author_name">Author Name:</label>
        <input type="text" id="author_name" name="author_name" required>
    </div>
    <div>
        <label for="image">Image URL:</label>
        <input type="text" id="image" name="image">
    </div>
    <div>
        <label for="body">Body:</label>
        <textarea id="body" name="body" rows="10" required></textarea>
    </div>
    <div>
        <button type="submit">Create Article</button>
    </div>
</form>

